<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ruleset" ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1303" Action="None" />  <!-- String literals should be in a resource file.  At this point there are no plans to localize this project-->
  </Rules>
</RuleSet>
